<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.3.1.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div id="bank">
        <h3>Ngân hàng của tôi</h3>
        <p class="bank-name">The Bank name: <strong><%= bankName %></strong></p> 
        <p class="bank-money">The default money: <strong><%= defaultMoney %></strong></p> 
    </div>
    
    <div id="open">
        <h3>Mở tài khoản</h3>
        <input type="text" name="" id="customer-address" placeholder="address">
        <input type="text" name="" id="customer-name" placeholder="name">
        <button id="open-bank">Open</button>
        <p class="msg" style="color: red"></p>
    </div>

    <div id="list">
        <h3>Danh sách tài khoản đã mở</h3>
        <ul class="list">

        </ul>
        
    </div>
    <br>
    <a href="/">Home</a>
    <script>
        function showListCustomers(list){
            $('.list').empty();
            $.each(list, function(i, v){
                $('.list').append("<li><a href='/mybank/"+v+"'>"+v+"</a></li>")
            })
        }
        $("#open-bank").click(function(){
            $.post("/open-bank", {address: $("#customer-address").val(), name: $("#customer-name").val()}, function(res){
                console.log(res);
                $('.msg').show();
                if(res.status){
                    showListCustomers(res.listCustomers);
                    $(".msg").text("* Mở tài khoản thành công");
                }else{
                    $(".msg").text("* Mở tài khoản thất bại");
                }
                setTimeout(function() {$('.msg').hide()}, 3000)
            })
        })

        $.get("/list-customers", function(res){
            console.log('res: ', res);
            showListCustomers(res.listCustomers);
        })
    </script>
  </body>
</html>
