<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.3.1.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input id="input"  type="text" />
    <button id="btn" >Set</button>

    <div >
      My name: <span id="output"></span>
    </div>

    <script>
      $('#btn').click(function(){
        console.log($("#input").val());
        $.post("/set-name", {name: $("#input").val()}, function(res){
          console.log(res);
          $("#output").text(res.name);
        })
      })
    </script>
  </body>
</html>
