<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.3.1.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/set-name">Demo set name</a></li>
      <li><a href="/bank">Demo my bank</a></li>
      <li><a href="/eth-account">Demo web3.eth.accounts</a></li>
    </ul>
    <script>
      $('#btn').click(function(){
        console.log($("#input").val());
        $.post("/set-name", {name: $("#input").val()}, function(res){
          console.log(res);
          $("#output").text(res.name);
        })
      })
    </script>
  </body>
</html>
