<% include ../layouts/header.ejs %>
<!-- Header End -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-12">
        <p>Tạo contract mới</p>
        <form method="POST">
          <div class="form-group">
            <label>primakey</label>
            <input type="text" class="form-control" name="privatekey">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
  </div>
</div>
<!-- Footer -->
<% include ../layouts/footer.ejs %>