body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  padding: 10px;
}

input, button {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: thin solid #ddd;
  min-width: 100px;
}
input {
  width: 300px;
  display: block;
}
button {
  cursor: pointer;
}
.amount {
  color: red;
  font-weight: bold;
}